#wpmumis_actionslist_wrap{
	padding: 20px;
    background: rgba(255,255,255,.4);
    border: 2px solid #eee;
}


.form-table th.wpmumis_actions_list_title_wrap{
	padding-top: 20px;
}

#wpmumis_add_new_action_wrap{
	width: 300px;
	text-align: center;
	border: dashed 3px #ddd;
	margin: 0 auto;
	margin-top: 20px;
}

#wpmumis_add_new_action_btn{

	color: #cdcdcd;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}


#wpmumis_add_new_action_btn:hover{
	cursor: pointer;
	background-color: #f5f5f5;
	color: #777;
}


#wpmumis_add_new_action_btn > span{
	display: block;
}

.wpmumis_section_title{

}

#wpmumis_actions_selector_popup{
	display: none;
}

input[type="number"]{
	width: 70px;
}

table,
.form_table{
	width: 100%;
}

.form-table td,
.form-table th{
	vertical-align: top;
	padding-top: 0px;
}

.form-table textarea{
	width: 100%;
	height: 170px;
}

.form-table .action_type_col{
	width: 20%;
}
.form-table .action_val_col{
	width: 70%;
}

.form-table .counter_wrap,
.form-table .action_rm_col{
	width: 5%;
}

.counter_num{
	color: #666;
	background: #ccc;
	padding: 2px 7px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 30px;
}

.empty_actionsset_message,
.empty_actionsset_message .title,
.empty_actionsset_message p{
	color: #666;
	text-align: center;
}

.empty_actionsset_message.hidden{
	display: none;
}

.hint .dashicons{
	display: inline-block;
	vertical-align: middle;
	color: #2980b9;
}